@use '../variables';

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$primary-color;
    height: 100px;

    h1 {
        a {
            text-decoration: none;
            color: variables.$text-color-light;
            padding-left: 1.5rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}





.index-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    h2 {
        color: variables.$primary-color;
        margin-bottom: 1rem;
    }

    .trips {
        display: flex;
        justify-content: center;
        gap: 1.5rem;

    }

    .trip-item {
        display: flex;
        flex-direction: column;
        min-height: 270px;
        width: 350px;
        border: 1.15px solid variables.$primary-color;
        border-radius: 10px;
        background-color: white;
        padding: 1rem;


    }
}

a,
img {
    display: inline-flex;
    align-items: center;
    margin-top: auto;
    gap: 0.5rem;
    color: variables.$text-color-dark;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }


}

.index-help {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    

    h2 {
        color: variables.$primary-color;
        margin-bottom: 1rem;
    }

    .faq-contact {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 2.5rem;

    }

    .faq-box,
    .contact-box {
        display: flex;
        flex-direction: column;
        min-height: 210px;
        width: 350px;
        background-color: variables.$box-color;
        border: 1.15px solid variables.$primary-color;
        border-radius: 10px;
        padding: 1rem;




        h3 {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 0.5rem;
        }

        a {
            display: flex;
            margin: 0 auto;
            margin-top: auto;
            background-color: variables.$button-color-book;
            color: variables.$text-color-light;
            padding: 0.5rem 1.2rem;
            border-radius: 15px;

            &:hover {
                background-color: variables.$primary-color;
            }

        }


    }


}




footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: variables.$primary-color;
    height: 150px;
    line-height: 1;

    h3 {
        padding-block: 1rem;

        a {
            color: variables.$text-color-light;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}