@use '../variables';

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$primary-color;
    height: 100px;

    h1 {
        a {
            text-decoration: none;
            color: variables.$text-color-light;
            padding-left: 1.5rem;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

}

nav {
    ul {
        li {
            display: inline;
            padding-inline: 1.5rem;
            
        }
    }
}

.nav-link, .footer-link {
    color: variables.$text-color-light;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }

}

.footer-link {
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}

.index-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    h2 {
        color: variables.$primary-color;
        margin-bottom: 1rem;
    }

    .trips {
        display: flex;
        justify-content: center;
        gap:1.5rem;
       
    }

    .trip-item {
        display: flex;
        flex-direction: column;
        height: 270px;
        width: 350px;
        border: 1.15px solid variables.$primary-color;
        border-radius: 10px;
        background-color: white;
        padding: 1rem;
        line-height: 1.6;
        
    }
        } a, img {
        display: inline-flex;
        align-items: center;
        margin-top: auto;
        gap: 0.5rem;
        color: variables.$text-color-dark;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
        
        
    
    
}
