@use '../variables';
@use '../base';

.skip-link-wrapper {
    position: relative;
}

.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: black;
    color: variables.$text-color-light;
    font-size: 1.1rem;
    border-radius: 0 0 4px 0;
    padding: 8px 16px;
    z-index: 1000;
    transition: top 0.3s;


    &:focus {
        top: 0;
    }


}

.mobile-menu-button {
    display: none;
}


nav {
    ul {
        li {
            display: inline;
            padding-inline: 1.5rem;

        

        }
    }
}

.nav-link,
.footer-link {
    color: variables.$text-color-light;
    text-decoration: none;
    font-size: 1.1rem;

    &:hover {
        text-decoration: underline;
    }

    &.current-page {
        text-decoration: underline;
    }

  

}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/****************************************/
/************ Page header***************/
/**************************************/
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 0.3rem;
    padding-inline: 2rem;
    background-color: variables.$background-color;
}

.breadcrumbs {

    ol {
        list-style: none;
        display: flex;
            align-items: center;
            gap: 0.4rem;

            a {
                font-weight: 500;
            }

            .slash {
            margin-inline: 1px;
            }

    }
}









/****************************************/
/************Hambugermeny***************/
/**************************************/
@media screen and (max-width:1024px) {
    .container .menu {
        height: 100%;
    }

    .menu {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        min-height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        height: 100vh;
        background-color: variables.$mobile-menu-color;
        z-index: 995;


        transform: translateX(100%);
        transition: transform 0.45s ease-out;

        ul {
            display: flex;
            flex-direction: column;
            margin-top: 150px;

        }

        li {
            margin-bottom: 1rem;
        }

        a {
            display: block;
            text-align: left;

        }

    }

    .menu.active {
        transform: translateX(0);

    }
}