@use './variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: variables.$font-stack
}

html, body {
    min-height: 100vh;
}

main {
    background-color: variables.$background-color;
}

h1 {
    font-size: variables.$h1-size;
}

h2 {
    font-size: variables.$h2-size;
}

h3 {
    font-size: variables.$h3-size;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: variables.$primary-color;
    height: 150px;

    h3 {
        padding-top: 1rem;
        a {
            color: variables.$text-color-light;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



