@use './variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: variables.$font-stack;
    line-height: 1.6;
    list-style: none;

}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px;
    margin: auto;
}




main {
    background-color: variables.$background-color;
     padding-bottom: 2rem;
}

h1 {
    font-size: variables.$h1-size;
}

h2 {
    font-size: variables.$h2-size;
}

h3 {
    font-size: variables.$h3-size;
}

h4 {
    font-size: variables.$h4-size;
}

p {
    font-size: variables.$text-size;
    max-width: 60ch;
}

.ingress {
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}


span {
    font-weight: 600;
}

.current-page {
    font-weight: 700;
}

.text-link {
    text-decoration: underline;
    color: variables.$primary-color;

    &:hover {
        font-weight: 600;
        text-decoration: none;
    }
}