@use './variables';

.hero-box {
    background-image: url('/images/hero.webp');
    background-size: cover;
    background-position: center;
    height: 400px;
}

.hero-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: variables.$text-color-light;
    text-shadow: 1px 1px 2px black;
    font-size: va;

    a {
        background-color: variables.$button-color-book;
        color: variables.$text-color-light;
        padding: 0.7rem 1.6rem;
        border-radius: 15px;
        text-decoration: none;
        margin-top: 1rem;
        text-shadow: none;

        &:hover {
            background-color: variables.$primary-color;
            
        }

    }
}