@use './variables';

@mixin green-button {
    background-color: variables.$button-color-book;
    color: variables.$text-color-light;
    font-size: variables.$text-size;
    padding: 0.7rem 1.6rem;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    text-shadow: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
        background-color: variables.$primary-color;
    }
}

@mixin change-button {
    background-color: variables.$button-color-change;
    color: variables.$text-color-light;
    font-size: variables.$text-size;
    padding: 10px 12px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: #504e4e;
        text-decoration: none;
    }
}


@mixin cancel-button {
    background-color: variables.$button-color-cancel;
    color: variables.$text-color-light;
    font-size: variables.$text-size;
    padding: 10px 12px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: #a70c0c;
        text-decoration: none;
    }
}




.hero-box {
    background-image: url('/images/hero.webp');
    background-size: cover;
    background-position: center;
    height: 400px;
}

.hero-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: variables.$text-color-light;
    text-shadow: 1px 1px 2px black;

    a {
        @include green-button;
    }
}

.logout {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-shrink: 0;
    gap: 0.4rem;
    padding-right: 0.8rem;
    margin-top: 0.3rem;
    text-decoration: none;
    color: variables.$text-color-dark;
    background-color: variables.$background-color;

    &:hover {
        text-decoration: underline;
        font-weight: 500;
    }
}

.phone {
    border-radius: 50%;
    padding: 5px;
    width: 34px;
    height: 34px;
    background-color: variables.$button-color-book;
}

.mobile-menu-button {
    font-size: 2rem;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    color: variables.$text-color-light;
    z-index: 9999;

}

.booking {
    @include green-button;
    display: flex;
    margin: 1rem auto;
}

.change-booking-center{
    @include change-button;
    display: flex;
    margin: 2rem auto;

}

.change-booking {
    @include change-button;

}

.cancel-booking {
    @include cancel-button;
}

.send-a11y-form {
    @include green-button;
    margin-top: 1rem;
}


.material-symbols-outlined {
  font-size: 20px; 
  font-weight: 500;
  vertical-align: middle;
}

.error {
    color: #e82020;
    font-weight: 700;
}

.error-a11y {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    color: #e82020;
    font-weight: 700;
    margin-top: 0.5rem;
    width: 80%;
}
